* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Mantiene el fondo de la página en el header */
.header {
    background: transparent; /* Para que se vea la imagen de fondo */
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

/* Navbar */
.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    padding: 10px 20px;
    border-radius: 10px;
}

/* Logo */
.logo img {
    width: 150px;
    height: 90px;
}

/* Navbar links */
.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    padding: 10px 15px;
}

.navbar-nav .nav-link {
    color: rgb(242, 229, 215);
    font-size: 18px;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: rgb(229, 209, 191);
}

/* Botón de Login */
.btn-auth {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
}

.btn-auth:hover {
    background: white;
    color: black;
}

.navbar-toggler {
    border-color: white !important;
  }
  
  .navbar-toggler-icon {
    filter: invert(1); /* Convierte el ícono a blanco */
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
}
.header {
    width: 100vw; /* Asegura que ocupe el ancho exacto de la pantalla */
    left: 0; /* Fijar al borde izquierdo */
}
/* Estilos para móviles */
@media (max-width: 768px) {
    .navbar {
        background: rgba(0, 0, 0, 0.8); /* Fondo más oscuro en móviles */
    }

    .logo img {
        width: 120px;
    }

    .navbar-nav {
        text-align: center;
        padding: 10px 0;
    }

    .navbar-nav .nav-item {
        padding: 8px 0;
    }

    .navbar-toggler {
        
        border: none;
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }
}
